body{
    background-color: rgba(222, 205, 172, 1);
    font-family: cursive;
}

.notification-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 240px;
    width: 480px;
    background-color: rgba(254, 250, 243, 1);
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.click-me{
    inset: inherit;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 15px 35px;
    border-radius: 30px;
    border-color: transparent;
    background-color: rgba(235, 191, 83, 1);
    cursor: pointer;
    color: rgba(254, 250, 243, 1);
    font-size: 24px;
}

.container{
    inset: 0;
    position: fixed;
    pointer-events: none;
}

.container.open{
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

.card{
    height: 350px;
    width: 690px;
    background-color: #fff;
    border-radius: 40px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: all 0.25s linear;
}

.card.popup{
    transform: translate(-50%,-50%) scale(1);
    left: 50%;
    top: 50%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 36px;
    top: -24px;
}

.close-tab{
    position: absolute;
    font-size: 36px;
    right: 24px;
    top: 10px;
    font-family: serif;
    color: rgba(175, 161, 135, 1);
    cursor: pointer;
}

h1{
    height: 36px;
    position: absolute;
    right: 16%;
    top: 15%;
    text-align: left;

}

p{
    position: absolute;
    right: 13%;
    top: 30%;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

input{
    position: absolute;
    top: 72%;
    left: 15%;
    width: 60%;
    height: 30px;
    border: 1px solid #afa187;
    transition: border-color 0.25s ease;
    border-radius: 20px;
    text-indent: 10px;
    background-color: rgba(238, 232, 221, 1);
}

input:focus {
    outline: 1px solid #afa187;
  }

.subscribe-btn{
    position: absolute;
    top: 72%;
    left: 61.4%;
    height: 34px;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #ebbf53;
    background-color: #ebbf53;
    cursor: pointer;
    transition: all 0.25ms ease-in-out;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

.subscribe-btn:active{
    box-shadow: none;
}

